{% extends "u/base_u.html" %}

{% block title %}{{ super() }}home{% endblock %}

{% block body %}
    {{ super() }}

    <!--upload-->
    <div class="modal fade" id="uploadModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- 模态框头部 -->
                <div class="modal-header">
                    <h4 class="modal-title text-info">upload</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- 模态框主体 -->
                <div class="modal-body">
                    <div class="container">
                    <form method="post" class="form-inline" enctype=multipart/form-data action="{{ url_for("u.home") }}">
                        <ul><input type="text" class="form-control" placeholder="标题"
                                   name="title" required="required" maxlength="127"></ul>
                        <ul><input type="text" class="form-control" placeholder="简介"
                                   name="about" required="required" maxlength="1023"></ul>
                        <ul><input type="text" class="form-control" placeholder="分类"
                                   name="classification" required="required" maxlength="31"></ul>
                        <ul></ul>
                        <div class="form-inline" style="margin-left: 2.3em">
                            <span class="btn-outline-primary file-style">
                                <input type="file" name=file id="fileUpload" value="value" accept=".md" required="required">
                                <span id="showFileName">选择文件(.md)</span>  <!-- 展示文件名 -->
                            </span>
                            <input class="btn btn-outline-info" type=submit value=Upload style="margin-left: 3em">
                        </div>
                    </form>
                    </div>
                </div>
                <!-- 模态框底部 -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">关闭</button>
                </div>

            </div>
        </div>
    </div>


    <!--用户个人导航栏，头像，名称，-->
    <div class="container" style="margin-top: 2em">
        <div class="card text-white" style="background-color: #cdc6a6">
            <div class="card-header">
                <div class="row">
                    <img src="/static/u/{{ info['user_id'] }}/{{ info['head_portrait'] }}" style="height: 8em; width: 8em">

                    <ul class="mr-auto">
                        <h4 style="margin-top: 2em;margin-left: 1.5em">{{ info['nickname'] }}</h4>
                    </ul>
                    <div class="form-inline my-2 my-lg-0">
                        <a data-toggle="modal" data-target="#uploadModal">
                            <img src="/static/image/plus.png" style="height: 3em;width: 3em;margin-right: 1.5em">
                        </a>

                    </div>
                </div>
            </div>
            <div class="card-body">

                <p class="d-sm-inline">{{ info['signature'] }}</p>
                <a href="{{ url_for('u.profile') }}"><img src="/static/image/set-l.png" align="right"></a>
            </div>
        </div>
    </div>

    <!-- show all articles -->
    <div id="show_all_articles">
        {% for article in info['articles'] %}

            <div class="container" style="margin-top: 2.5em" id="div_{{ article.id }}">
	            <div class="card-header" style="background-color: #d7ff8d; color: #2c2425;">
                    <div class="row">
                        <a class="mr-auto" href="{{ url_for('index.reading', article_id=article.id) }}"
                            style="text-decoration: none">
                            <ul class="mt-2 mt-lg-0">
                            <h3 class="card-title">{{ article.title }}
                                <span class="badge badge-info">{{ article.classification }}</span>
                            </h3>
                            </ul>
                        </a>
                        {# 文章右上部的功能选项 #}
                        <div>
                            {# 文章公开性 #}
                            <strong>share</strong>
                            <a data-target="#div_{{ article.id }}" id="a_{{ article.id }}">
                                <img id="off_img_{{ article.id }}" src="/static/image/off.png" width="60" height="30">
                                <img id="on_img_{{ article.id }}" src="/static/image/on.png" width="60" height="30">
                            </a>
                            {% if article.secrecy == 'secret' %}
                                <script>
                                    $('#on_img_{{ article.id }}').hide();
                                    $('#a_{{ article.id }}').attr('name', 'off');
                                </script>
                            {% elif article.secrecy == 'public' %}
                                <script>
                                    $('#off_img_{{ article.id }}').hide();
                                    $('#a_{{ article.id }}').attr('name', 'on');
                                </script>
                            {% endif %}
                            &nbsp;&nbsp;
                            {# 删除文章 #}
                            <button type="button" class="btn btn-outline-danger my-2 my-sm-0"
                                    data-target="#div_{{ article.id }}">
                                <strong>X</strong>
                            </button>

                        </div>
                    </div>
	            </div>
	            <div class="card-body" style="background-color: #93af7c; color: #2c2425;">
                    <p class="text-default">{{ article.synopsis }}</p>  <!--简介-->
                    <p align="right">{{ article.publish_time.year }}-{{ article.publish_time.month }}-{{ article.publish_time.day }}
                        &nbsp;&nbsp;{{ article.publish_time.hour }}:{{ article.publish_time.minute }}
                    </p>
	            </div>
            </div>

        {% endfor %}
    </div>

<script>
    {# 删除文章 #}
    $('#show_all_articles').delegate('button[data-target]', 'click', function() {
        var target = $(this).data('target');
        var article_id = target.slice(5); {# "#dev_" 即从第6位开始的为id #}

        {# 发送get请求，删除文章 #}
        $.get("{{ url_for('index.delete') }}", {'article': article_id},function(data,status){
            {# 判断删除是否成功(不要将判断语句放在get函数外，除非能解决get函数异步执行的问题) #}
            if (data === 'success' && status === 'success'){
                $(target).fadeOut(2000);
                console.log("delete article");
                console.log(article_id);
            }
		});
    });

    {# 选择是否分享文章 #}
    $('#show_all_articles').delegate('a[data-target]', 'click', function () {
        var target = $(this).data('target');
        var article_id = target.slice(5); {# "#dev_" 即从第6个字符开始的为id #}
        var _a = $(this); {# 这里的this与下面函数内的this不同 #}
        {# 切换 #}
        if($(this).attr('name') === 'off'){
            {# 开启文章分享 #}
            $.post("{{ url_for("index.changeArticlePermission") }}",
                { 'article_id': article_id, 'secrecy': 'public'},
                function (data, status) {
                    if (data === 'success' && status === 'success') {
                        $('#off_img_' + article_id).hide();
                        $('#on_img_' + article_id).fadeIn(500);
                        $(_a).attr('name', 'on');
                        console.log('article ' + article_id + ' set as public')
                    }
                });
        }
        else if($(this).attr('name') === 'on'){
            {# 文章设为保密 #}
            $.post("{{ url_for("index.changeArticlePermission") }}",
                { 'article_id': article_id, 'secrecy': 'secret'},
                function (data, status) {
                    if (data === 'success' && status === 'success') {
                        $('#on_img_' + article_id).hide();
                        $('#off_img_' + article_id).fadeIn(500);
                        $(_a).attr('name', 'off');
                        console.log('article ' + article_id + ' set as secret')
                    }
                });


        }
    })
</script>

{% endblock %}
