{% extends "u/base_u.html" %}

{% block title %}{{ super() }} - {{ current_user.username }} profile{% endblock %}

{% block body %}
    {{ super() }}
    <div class="container pt-lg-md">

        <div class="row justify-content-center" style="margin-top: 5em">
            <div class="col-lg-5">
                <div class="card bg-info border-light">
                    <div class="card-body px-lg-5 py-lg-5">
                        <div class="text-center mb-4 text-md-center">
                            <small>Modify your profile</small>
                        </div>
                         <form  method="post" enctype=multipart/form-data action="{{ url_for("u.profile") }}">
                             <div>
                                 <div class="d-inline"><span class="text-white" style="font-size: 1.5em;">更换头像</span></div>
                                 <span class="btn-primary file-style">
                                     <input type="file" name="file" accept=".jpg, .jpeg, .png, .icon">
                                     <span id="showFileName">选择文件</span>  <!-- 展示文件名 -->
                                 </span>
                             </div>
                             <br>
                             <div>
                                 <input type="text" name="nickname" class="form-control"
                                        placeholder="昵称" maxlength="31" data-first="1"
                                        value="{{ current_user.nickname }}">
                             </div>
                             <br>
                             <div>
                                 <input type="text" name="signature" class="form-control"
                                        placeholder="个性签名" maxlength="255" data-first="1"
                                        value="{{ current_user.signature }}">
                             </div>
                             <br>
                             <div class="text-center">
                                <input type="submit" class="form-control btn btn-primary my-1">
                             </div>
                         </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

        $(':text').on('click', function (event) {
            var first = $(this).data('first');
            {#console.log(first);#}
            {# 若当前是第一次点击 #}
            if (first === 1) {
                $(this).val('');
                $(this).data('first', '0')
            }
        })
    </script>
{% endblock %}